@model Category
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Category Name: @Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Category Id: @Model.CategoryId</h6>
        <h6 class="card-subtitle mb-2 text-muted">Category Description : @Model.Description</h6>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary mt-4">Back</a>
    </div>
</div>
